.app-wrapper {
    display: grid;
    grid-template-areas:
          'h h'
          'n c';


    grid-template-rows: 60px 1fr;
    grid-auto-columns: 2fr 10fr;
    /*grip-gap: 10 px;*/
}

.header {
    grid-area: h;
    background-color: azure;
}
.header img {
    width: 100px ;
    padding-top: 10px;
    padding-left: 40px;

}

.nav {
    grid-area: n;
    background-color: aliceblue;
}

.content {
    grid-area: c;
    background-color: coral;
}