.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems{
    padding: 20px;
}

.dialogs .dialogsItems {
    color: gold;
}
.messages{
    padding: 20px;
}
.dialogs .messages{
    color: white;
}
